@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');
.h2
{
    text-align: left;
    color: #8ac7e4;
}
.img{
    max-width: 100%;  
    height: auto;
    object-fit: contain;  
    box-shadow: #9da3a7;
}

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #ce8f8f;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.section-intro 
{
    height: 700px;
    background: url('https://img.freepik.com/free-photo/various-vegetables-black-table-with-space-message_1220-616.jpg?size=626&ext=jpg&ga=GA1.2.231040245.1680093066&semt=ais');
    background-size: cover;
    display: flex;
    position:initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    text-decoration: wavy;
    text-decoration-style: wavy;
    text-shadow: #f1a5bc;
    color: #c7a2ad;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}

.about-section
{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyfXpiK9NMwEi_gTvuiBmiA3QXkrum3bd0d5aGT7KYxGuzIW2GA2B_E9iZm_Kj1L4WA2k&usqp=CAU');
    display: flex;
    background-size: cover;
    align-items: center;
    text-align: left;
    background-color: #eff8fcc0;
    padding: 100px 250px;
    height:auto;
    top: 5%;
    position:relative;
    flex-direction: column;
    justify-content: center;
}

.link-to-book 
{
    color: #ca6868;
    display: block;
    border: 2px solid #8ac7e4;
    padding: 5px 10px;
}

a.link-to-book:hover 
{
    background-color: #6d2525;
    color: #dfcfd4;
    text-decoration: none;
}

.about-section p,
.about-section h3 
{
    text-align:justify;
    width: 120%;
    margin:3rem;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform:capitalize;
}

.carousel-inner {
    height: 750px;
    width: 300%;
    background-color: #350a0a;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    padding: 3px;
    color: #9da3a7;
    border: 1px solid rgb(236, 224, 236);
    
    object-fit:scale-down;
    object-position:initial;  
    box-shadow: #fa08a9;
}

.row-flex {
    display: flex;
    flex-direction: row;
    height: 300;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 30px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #486c96;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #350a0a;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.3em;
}

.form-group p {
    font-size: 1.3em;
}

.opening-time p span
 {
    text-align: center;
    height: 100px;
    width: 200px;
    flex-direction:column;
    display:list-item;
    flex: 3;
    padding: 2px;
}

.contact-adress p span {
    height: 100px;
    width: 200px;
    flex-direction:column;
    display:inline-flexbox;
    flex: 3;
    padding: 2px;
}

@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: 700px;
        width: 700px;
        flex-direction:column;
        align-items: center;
        display: flex;
        flex: 50%;
        padding: 3px;
        border: 2px solid rgb(238, 224, 237);
    }
    .row-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height:auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span {
        font-size: 15px;
        text-align:center;
        height: 500px;
        width: 500px;
        flex-direction:column;
        display: flex;
        flex: 3;
        padding: 3px;
    }
    .contact-adress p span {
        font-size: 15px;
        text-align:center;
        height: 500px;
        width: 500px;
        flex-direction:column;
        display: flex;
        flex: 3;
        padding: 3px;
    }

}